<h1 mat-dialog-title>Forget Password</h1>
<div mat-dialog-content>
<form (submit)="onSubmit()"  *ngIf="!isSuccessful">
  <div class="login-container">
    <div class="form-group">
    <input type="email" class="form-control" [(ngModel)]="email" 
    name="email" placeholder="Enter your email" required>
    </div>
    <button class="btn btn-green" type="submit">Send Reset Link</button>
  </div>
  
  </form>
  <div class="alert alert-success"  *ngIf="isSuccessful">
    <strong> Email sent  successfully ! </strong> 
    <a href="#" class="success-redirect" (click)="signin() ">To log in </a>

  </div> 
 </div>
  <div mat-dialog-actions>
    <button   mat-button mat-dialog-close>Close</button>
  </div>
