<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>Nouveau Page</b></h4>
            </div>
            <div class="col-sm-6">
              <a href="#" routerLink="/Home" class="btn btn-success back"><i class='fas fa-arrow-circle-left'></i>
                 Retour
                </a>
                <button class="btn btn-success"  (click)="AjouterPage()" >Sauvgarder</button>   
            </div>
           
          </div>
        </div>
        <form #PageForm="ngForm">
            <div class="table-content" >
              
                <div class="form-group p-10 row">
                    <div class="col-sm-3">
                      <label for="FirstName" class="p-t-b-10">Libéllé</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="Libellepg" required maxlength="255"
                        [(ngModel)]="pageform.libellepg" name="Libellepg" #Libellepg="ngModel">
                      
                    </div>
                   
                  </div>
                  <div class="form-group p-10 row">
                    <div class="col-sm-3">
                      <label for="FirstName" class="p-t-b-10">Action</label>
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" id="goAction" required maxlength="255"
                        [(ngModel)]="pageform.goAction" name="goAction" #goAction="ngModel">
                      
                    </div>
                  </div>
                  <div class="form-group p-10 row">
                    <div class="col-sm-3">
                      <label for="FirstName" class="p-t-b-10">Date début</label>
                    </div>
                    <div class="col-sm-3">
                        <p-calendar [(ngModel)]="pageform.datedebut" dateFormat="dd/mm/yy"  name="datedebut" #datedebut="ngModel" [showIcon]="true" inputId="icon"></p-calendar>
                      
                    </div>
                   
                  </div>
                  <div class="form-group p-10 row">
                   
                    <div class="col-sm-3">
                      <label for="FirstName" class="p-t-b-10">Date fin</label>
                    </div>
                    <div class="col-sm-3">
                        <p-calendar [(ngModel)]="pageform.datefin" dateFormat="dd/mm/yy"  name="datefin" #datefin="ngModel" [showIcon]="true" inputId="icon"></p-calendar>
                      
                    </div>
                  </div>
                  
                  
           
                </div>
                
        </form>
      
        
        
      </div>
    </div>
  </div>