<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password  Form</title>
        
    </head>
    <body>

<form [formGroup]="form" *ngIf="!isSuccessful"  name="form" (ngSubmit)="onSubmit()">
  <div class="login-container">
    <div class="form-group">
           
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
      />
      @if (submitted && f['password'].errors) {
      <div class="invalid-feedback">
        @if (f['password'].errors['required']) {
        <div>Password is required</div>
        } @if (f['password'].errors['minlength']) {
        <div>Password must be at least 6 characters</div>
        } @if (f['password'].errors['maxlength']) {
        <div>Username must not exceed 40 characters</div>
        }
      </div>
      }
    </div>

    <div class="form-group">
      <input
      placeholder="Confirm Password"
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
      />
      @if (submitted && f['confirmPassword'].errors) {
      <div class="invalid-feedback">
        @if (f['confirmPassword'].errors['required']) {
        <div>Confirm Password is required</div>
        } @if (f['confirmPassword'].errors['matching']) {
        <div>Confirm Password does not match</div>
        }
      </div>
      }
    </div>
    <button class="btn btn-green" type="submit">Reset Password</button>
    </div>
    
  </form>
  <div class="alert alert-success"  *ngIf="isSuccessful">
    <strong> Password updated  successfully ! </strong> 
    <a href="#" class="success-redirect" (click)="signin() ">To log in </a>

  </div>

  </body>
  </html>
  
