.container-xl {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    padding: 0px;
    margin-top:22%;
    width:73%;
    background-color: #f2f2f2;
    
}